@import '../../styles/function.scss';

.sider {
  min-height: 100vh;
}

.content {
  margin: dim(10);
  :global(.ant-btn) {
    float: right;
  }
  :global(.ant-row) {
    margin-bottom: dim(10);
  }
  span {
    line-height: dim(32);
  }
}

.quill {
  :global(.ql-container) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #ffffff;
  }
  :global(.ql-toolbar) {
    display: block;
    background: #eaecec;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  :global(.ql-editor) {
    min-height: 80vh;
  }
}
